@import url('https://fonts.googleapis.com/css?family=Rancho');

@import "node_modules/bootstrap/scss/bootstrap";

html{
  height: 100%;
}


body{
  height: 100%;
  font-family: 'Rancho', cursive;
}

#root{
  position: relative; 
  min-height:100%; 
  height: auto !important; 
  height: 100%; 
  padding-bottom: 54px;
}

.container{
  //margin: 1.5em 0;
  padding: 4rem 2rem;
}

.forgot{
  float: right;
}

footer {
 //position: absolute;
  width: 100%;
  //right: 0;
  //bottom: 0;
  //left: 0;
  //padding: 1rem;
  background-color: #efefef;
  text-align: center;
  position: absolute; 
  bottom: 0; 
  width: 100%; 
  height:54px;
  line-height: 54px;
}
